<div class="timeBox">
  <input type="text" [(ngModel)]="selectedTime" (click)="showHideBox()" (ngModelChange)="validateTime()">
  <span *ngIf="wrongInput"> Time format not correct</span>

  <div class="Box" *ngIf="showBox">
    <div class="outerDiv">
      <div class="innerDiv">
        <div *ngFor="let hours of hoursArray" (click)="selectHours(hours)">{{hours}}</div>
      </div>
      
      <div class="innerDiv">
        <div *ngFor="let minutes of minutesArray" (click)="selectMinutes(minutes)">{{minutes}}</div>
      </div>
    </div>

    <div class="btnDiv">
      <input type="button" value="cancel" (click)="showHideBox()">
      <input type="button" value="set" (click)="SetTime()">
    </div>
  </div>
</div>

<router-outlet></router-outlet>
